<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>tpvsadmin</display-name>
    <listener>
        <description>Used to cleanup when a session is destroyed</description>
        <display-name>ZK Session cleaner</display-name>
        <listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
    </listener>
    <listener>
        <description>Ubica la ruta de ejecución de la aplicación.</description>
        <listener-class>com.tpvs.util.AppConfigGeneral</listener-class>
    </listener>
    <listener>
        <description>Se encarga de controlar elementos de interés de la sesión.</description>
        <listener-class>com.tpvs.util.AppSessionListener</listener-class>
    </listener>
    <servlet>
        <description>The ZK loader for ZUML pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>The asynchronous update engine for ZK</description>
        <servlet-name>auEngine</servlet-name>
        <servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgMonitor</servlet-name>
        <servlet-class>com.tpvs.srvgtw.msgMonitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizaCredenciales</servlet-name>
        <servlet-class>com.tpvs.util.actualizaCredenciales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgMonitorjson</servlet-name>
        <servlet-class>com.tpvs.srvgtw.MsgMonitorjson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgubicatpv</servlet-name>
        <servlet-class>com.tpvs.util.msgsdatos.msgubicatpv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chckinfotpv</servlet-name>
        <servlet-class>com.tpvs.util.chckinfotpv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auEngine</servlet-name>
        <url-pattern>/zkau/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgMonitor</servlet-name>
        <url-pattern>/msgMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizaCredenciales</servlet-name>
        <url-pattern>/actualizaCredenciales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgMonitorjson</servlet-name>
        <url-pattern>/MsgMonitorjson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgMonitorjson</servlet-name>
        <url-pattern>/MSGMONITORJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgubicatpv</servlet-name>
        <url-pattern>/msgubicatpv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chckinfotpv</servlet-name>
        <url-pattern>/chckinfotpv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>index.zul</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/tpvadmin</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>Osbnmx</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Osbnmx</servlet-name>
        <url-pattern>/Osbnmx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Wsevomch</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Wsevomch</servlet-name>
        <url-pattern>/Wsevomch</url-pattern>
    </servlet-mapping>
</web-app>
