/*
 *    This code totally or in part was developed by request and kindly
 *  provided by MexTISA.  http://www.mextisa.com.mx
 *
 *   Unless agreed to in writing, this software is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 *  expressed or implied.   For any new request or modification you can
 *  get a professional services quote.   Last Rev. 2015.
 *
 */
/* 
    Document   :  MexTISA Styles
    Description:
        Estilos auxiliares para el layout de Sist. Gestión de Cotizaciones.
*/
.z-datebox-inp,
.z-timebox-inp,
.z-datebox {
    font-size: 9px;
    font-family: arial;
}
.z-datebox-disd,
.z-datebox-text-disd,
.z-datebox-readonly {
    background: #fff;
    color: black !important; cursor: default !important; opacity: .99; -moz-opacity: .99;
} /* color: red !important; cursor: default !important; opacity: .9; -moz-opacity: .9; */
/*div.z-list-header-cnt{
    font-size: 6px;
    font-family: arial;
    --scroll: auto;
}*/
.z-listcell-cnt,.z-listcell,div.z-listcell-cnt {
    font-size: 9px;
    font-family: verdana;
    /*font-weight: lighter;
    font-style: italic;
    color: green !important; cursor: default !important; opacity: .9; -moz-opacity: .9;*/
}
div.z-listbox-body .z-listcell {
    padding: 1px;
}
div.z-list-header-cnt,
div.z-listheader-cnt,
tr.z-list-item,
tr.z-list-item a,
tr.z-list-item a:visited,
div.z-list-cell-cnt{
    font-size: 10px;
    font-family: arial;
    /* --scroll: auto; */
}
.z-label,
.z-textbox,.z-combobox-rounded-inp, .z-comboitem, .z-comboitem-text, .z-comboitem-seld,
.z-intbox,
.z-combobox,
.z-combobox-inp,
.z-combobox-btn,
.z-combo-item.z-combobox-pp .z-combo-item,
.z-combobox-pp .z-combo-item a, .z-combo-item-cnt, 
.z-combo-item-text,
.z-button {
    font-size: 9px;
}
.z-menu-item,
.z-menu-btn button, .z-menu-item-btn button
.z-menubar-hor .z-menu-item
.z-menu-item-cnt,
.z-menubar-hor .z-menu-item-btn
.z-menu-item-body-text-img .z-menu-item-inner-m .z-menu-item-btn {
    font-size: 4px;
    /*color: red;*/
}
div.desc-label-div {
    font-size:65%;
    color:#336699;
    font-style:normal;
    background-color: #eee;
}
.z-window-highlighted-header {
    /*background: #008800;*/
   background-color: #DDDDDD;
   font-weight: bold;
   color: #336699;

    /* fallback (Opera) */
    background: #DDDDDD;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDDD, #336699);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#DDDDDD), to(#336699));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#DDDDDD', EndColorStr='#336699', GradientType=1);
}
div.stamp{
    background: url(../images/stamp_19.png) repeat;
}
div.stamp2{
    background: transparent url(../images/stamp.png) repeat;
}
window.menuf{
background-image:url(../images/stamp.png);
/*background-repeat:no-repeat;*/
background-repeat:repeat-x;
background-attachment:fixed;
background-position:center;
}
.search-toolbar {
    /*background: #008800;*/
    font-size:84%;
    background:#2F79A4;
    /*color:#FFF;*/
    color: #fffeff;
    font-weight: bold;
    width: 100%;
    position: relative;
    text-align: left;
} 
.help-toolbar {
    /*background: #008800;*/
    font-size:75%;
    background:#AFBFCF;
    /*color:#FFF;*/
    font-weight: bold;
    width: 100%;
    position: relative;
    text-align: right;
} 
.z-window-embedded-cnt {        
    /* fallback (Opera) #68a #2A6DAC */
    background: #6688AA;
    /* Chrome, Safari:*/
    background: -webkit-radial-gradient(top, ellipse cover, #d1d2d3 0%, #2A6DAC 100%); 
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#d1d2d3', EndColorStr='#6688AA', GradientType=0);
}
/*.z-west-body, .z-west { 
    background: #9a9b9c;
}*/
/*
para lo del autocompletar 
*/
.z-combobox-pp,
.z-combobox-rounded-pp {
    display:                inline-block;
    max-height:             10px;
    overflow-x:             hidden;
}
/*.z-comboitem,
.z-comboitem a,
.z-comboitem a:visited {    
    line-height:            10px;
    font-size:65%;
}*/
.noticelabel {
    /*background: #008800;*/
    /* font-size:75%; */
    /*background:white;*/
    color: orange;
    font-weight: bold;
    font-size: 10px;
} 