/*
 *    This code totally or in part was developed by request and kindly
 *  provided by MexTISA.  http://www.mextisa.com.mx
 *
 *   Unless agreed to in writing, this software is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 *  expressed or implied.   For any new request or modification you can
 *  get a professional services quote.   Last Rev. 2015.
 *
 */
/* 
    Document   : 
    Description: Estilos auxiliares para el layout de Sistema de Control de Afiliaciones.
*/

/*
* Adaptación de estilo para listbox
*/

.z-listheader-content {
    padding: 4px 5px 3px;
    padding: 1px 5px 1px;
}
.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    padding: 4px 5px;
    padding: 0px 5px;
    font-size: 12px;
    font-size: 10px;
}
.z-paging-button {
    font-size: 24px;
    min-width: 24px;
    height: 24px;
    padding: 4px 0;
    font-size: 20px;
    min-width: 8px;
    height: 17px;
    padding: 0px 0;
}
.z-paging-input {
    font-size: 12px;
    height: 24px;
    font-size: 10px;
    height: 15px;
}
.z-paging-text {
    font-size: 12px;
    font-size: 10px;
}
.z-paging-info {
    font-size: 12px;
    font-size: 10px;
}
.z-north-body, .z-south-body, .z-west-body, .z-center-body, .z-east-body {
    line-height: 14px;
    line-height: 10px;
}
.z-paging, .z-paging-icon {
    font-size: 18px;
    font-size: 12px;
    padding: 4px 10px 3px;
    padding: 4px 10px 0px;
    height: 32px;
    height: 25px;
}

/*
* Adaptación de estilo para listbox
*/

/*
* Adaptación de estilo para grid
*/

.z-north-body, .z-south-body, .z-west-body, .z-center-body, .z-east-body {
    line-height: 10px;
    line-height: 8px;
}
.z-column-content, .z-row-content, .z-group-content, .z-groupfoot-content, .z-footer-content {
    font-family: Arial,Sans-serif;
    font-size: 12px;
    color: #636363;
    line-height: 24px;
    font-family: Arial,Sans-serif;
    font-size: 12px;
    color: #636363;
    line-height: 13px;
}
div.z-listbox-header th.z-listheader, div.z-listbox-header th.z-auxheader, div.z-listheader-cnt{
    white-space: pre-wrap;
}
/*
* Adaptación de estilo para grid
*/

/*
* Adaptación de estilo para radio
*/
elemento {
    padding-bottom: 5px;
    padding-bottom: 0px;
}
/*
* Adaptación de estilo para radio
*/


/*
* Adaptación de estilo para label
*/
.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-family: Arial,Sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial,Sans-serif;
    font-size: 10px;
    font-weight: normal;
}
/*
* Adaptación de estilo para label
*/

/*
* Adaptación de estilo para textbox
*/
.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox {
    min-height: 24px;
    padding: 4px 5px 3px;
    min-height: 24px;
    padding: 4px 5px 3px;
    resize: none;
}

/*
* Adaptación de estilo para textbox
*/
